<div class="sidebar">
  <app-basicprofile></app-basicprofile>

  <app-search></app-search>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <span></span>
      </div>
      <div class="col-md-3">
        <span></span>
      </div>
      <div class="col-md-3">
        <span></span>
      </div>
      <div class="col-md-3">
        <span></span>
      </div>
    </div>
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Chat</a>
        <ng-template ngbNavContent>
          <app-userlist (chatTitleWithImg)=chatTitleArray($event)></app-userlist>

        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink routerLink="call/callsidebar">Chat</a>
        <router-outlet></router-outlet>
        <ng-template ngbNavContent></ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink>Contacts</a>
        <ng-template ngbNavContent>
          <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh .</p>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink>Nofify</a>
        <ng-template ngbNavContent>
          <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh .</p>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

  </div>
  <hr>


</div>

<div class="content">
  <app-header [titlearray]="sendchattitlearray"></app-header>

  <app-invitebutton [hero]="sendtypeMsg"></app-invitebutton>

  <app-writechat (getTypedMsg)="getTypedMsg($event)"></app-writechat>

</div>